<?xml version="1.0" ?>
<launch>
  <!-- Load parameters used by the Rodney code -->
  <rosparam command="load" file="$(find rodney)/config/config.yaml" />     

  <!-- Load the URDF model in to the parameter server from the xacro file -->
  <arg name="model" default="$(find rodney)/urdf/rodney.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>    
    
  <!-- Launch Gazebo with an williw garage world -->
  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>
    
  <!-- Spawn the robot into the world -->-
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param robot_description -urdf -model rodney -x 8 -y -8 -z 0.090"/>
    
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rodney_sim_control)/config/rondey_sim_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="head_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Launch rviz --> 
  <arg name="rvizconfig" default="$(find rodney_sim_control)/rviz/urdf.rviz"/>       
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
  
  <!-- Launch the Rodney code that we will use in this simulation -->  
  <node pkg="rodney" type="rodney_node" name="rodney_node" output="screen"/> 
  <include file="$(find rodney)/launch/remote.launch" />
  
  <!-- Static transform for the laser -> baselink. We need this for mapping etc -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_link_broadcaster" args="0.085 0 0.107 0 0 0 /base_link /laser"/>
  
  <!-- The base_link -> base_footprint -->  
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0.09 0 0 0 /base_footprint /base_link"/>

  <!-- Navigation -->
  <arg name="no_nav" default="false"/>  
  <group unless="$(arg no_nav)"> 
    <arg name="map_file" default="willowgarage_world"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(find rodney_sim_control)/maps/$(arg map_file).yaml" output="screen"/>  
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam command="load" file="$(find rodney)/config/amcl_config.yaml"/>
    </node>
    <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">
      <rosparam command="load" file="$(find rodney)/config/base_local_planner_params.yaml"/>
      <rosparam command="load" file="$(find rodney)/config/costmap_common_params.yaml" ns="global_costmap"/>
      <rosparam command="load" file="$(find rodney)/config/costmap_common_params.yaml" ns="local_costmap"/>
      <rosparam command="load" file="$(find rodney)/config/global_costmap_params.yaml"/> 
      <rosparam command="load" file="$(find rodney)/config/local_costmap_params.yaml"/>      
      <remap from="cmd_vel" to="demand_vel"/>
    </node>   
  </group>  

</launch>

