<?xml version="1.0" ?>
<launch>     
  <!-- Load the URDF model in to the parameter server from the xacro file -->
  <arg name="model" default="$(find rodney)/urdf/rodney.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>    
    
  <!-- Launch Gazebo with an williw garage world -->
  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>
    
  <!-- Spawn the robot into the world -->-
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param robot_description -urdf -model rodney -x 8 -y -8 -z 0.090"/>
    
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rodney_simulation)/config/rondey_sim_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="head_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Launch rviz --> 
  <arg name="rvizconfig" default="$(find rodney_simulation)/rviz/urdf.rviz"/>       
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
  
  <!-- Launch the Rodney code that we will use in this simulation -->   
  <node pkg="rodney" type="rodney_node" name="rodney" output="screen">
    <rosparam command="load" file="$(find rodney)/config/config.yaml"/> 
  </node>
  <node pkg="rodney" type="static_broadcaster.py" name="static_broadcaster_node"/>
  <include file="$(find rodney)/launch/remote.launch" />

</launch>

